nav{
  padding:5px
}
nav a{
  color:darkred;
  margin:0 10px 0 10px;
  display:inline-block;
  width:20%;
  text-align:center;
}

/* Challenge 4: Create a class rule, container that set the display property to flex */
.container {
  display: flex;
}

.container div{
  flex:1;
}

/* Challenge 5: Create a class rule, column that set the flex-direction property to column */
.column {
  flex-direction: column;
}
/* Challenge 6: Create a class rule, center that set the align-items property to center and the justify-contents to center */
.center {
  align-items: center;
  justify-content: center;
}

/* Challenge 7: Make the font for all elements Arial */
*{
  font-family: 'Times New Roman', Times, serif;
}
/* Challenge 8: Remove the underline for all hyperlinks */
a{
  text-decoration: none;
}
/* Challenge 9: Change the bottom border of the hyperlinks in the <nav> element to 2px solid black when the visitor hovers over it */
nav a:hover{
  border-bottom: 2px solid black;
}
/* Challenge 10: Change the background color to blue and the text to white for elements with an class of "banner" */

.banner{
      flex: 1;
      text-align: center;
   }

.banner{
  background-color: green;
  color: white;
}
/* Challenge 11: Make the font size bigger and the color of the text to blue for elements with a class of "main" */
.main{
  font-size:24pt;
  color:darkred;
}

   #footer p{
      flex: 1;
      text-align: center;
   }

   #footer{
      background-color:darkred;
      color:white
   }

